
<div class="prompts grid">
  <%= render partial: 'shared/sort' %>
  <ul class="content">
  <% @prompts.each do |prompt| %>
  <div class="col-1-3">
	<li>
	  <h3><%= link_to prompt.title, prompt  %></h3>
    <h4>
      <i class="fa fa-user"></i>
      <%= prompt_user_and_time(prompt) %>
    </h4>

    <p class="light-txt narrow">
      <%= pluralize(prompt.responses.count, "responses") %>
    </p>

    <p><%= prompt.short_description %></p>

    <div class="vote-wrapper">
      <%= render partial: 'shared/voting', locals: { prompt: prompt } %>
    </div>
	</li>
  </div>
  <% end %>
  </ul>
</div>
