<div class="sort-nav">
  <ul>
    <li>
     <%= link_to "New", root_path  %>
     <%= link_to "Hot", hot_prompts_path  %>
    </li>
  </ul>
</div>
<div class="prompts grid">
  <ul class="content">
  <% @prompts.each do |prompt| %>
  <div class="col-1-3">
	<li>
	  <h3><%= link_to prompt.title, prompt  %></h3>
	  <h4><i class="fa fa-user"></i> <%= prompt.user.name %> - <%= time_ago_in_words(prompt.created_at) %> ago</h4>
	  <p><%= prompt.short_description %></p>
    <div class="vote-wrapper">
      <%= render partial: 'shared/voting', locals: {prompt: prompt} %>
    </div>
	</li>
  </div>
  <% end %>
  </ul>
</div>