<!DOCTYPE html>
<html>
  <head>
    <title>Prompt and Circumstance</title>
      <link href='http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400italic,600italic,400,600,300' rel='stylesheet' type='text/css'>
      <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

      <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
    <body class="prompts">

      <%= render 'shared/navbar' %>
      <div class="flash">
      <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
      <% end -%>
      </div>
      <%= yield %>

    </body>
</html>
